<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
  <span class="picture">
    <%= f.file_field :picture, class:'filestyle', accept: "image/jpeg,image/gif,image/png", 'data-buttonBefore' => true, 'data-icon' => false, 'data-classButton' => 'btn btn-primary', 'data-buttonText' => 'Upload image' %>
  </span>
<% end %>

<!--This JavaScript (more specifically, jQuery) doesn't actually clear the file input field. Even if it did, no way to preven users from editing the JS in their browser or issuing a direct POST request using, e.g., curl. Thus, must include server-side validation.-->
<script type="text/javascript">
	$('#micropost_picture').bind('change', function() {
		var size_in_megabytes = this.files[0].size/1024/1024;
		if (size_in_megabytes > 5) {
			alert('Maximum file size is 5MB. Please choose a smaller file.');
		}
	});
</script>

<script type="text/javascript" src="http://markusslima.github.io/bootstrap-filestyle/js/bootstrap-filestyle.min.js"> 
  $(":file").filestyle({
  })
</script>